body {background-color: darkslategrey;
		}

.navbar {
    background-color: slategrey;
    overflow: hidden;
 }

 .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

 }

 .navbar a:hover {
    background-color: lightgrey;
    color: black;
 }


#modal {width: 500px;
		height: 250px;
		border: solid;
		display: none;
		margin: 0 auto;
		background-color: rosybrown;
    	position: fixed;
    	bottom: 40px;
    	left: 200px;
	}
		


#close {width: 20px;
		height: 20px;
		border: solid;
		background-color: grey;
	}


.wrapper {width: 1000px;
		height: 150px;
		border: solid;
		margin: auto;
		position: fixed;
		left: 40px;
		top: 70px;
    	background-color: indianred;
	}

#header {font-family: "garamond", serif;
		font-size: 45px;
		margin: 0px auto;
		text-align: center;
		position: relative;
		bottom: 25px;
		color: white;
		text-shadow: 2px 2px #ff0000
	}

.photo {
	background-image: url("coffeeshop.jpg");
	height: 1000px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

.wrapper2{width: 500px;
		height: 50px;
		background-color: indianred;
		margin: 0 auto;
		position: relative;
		top: 615px;
	}

#header2{
		font-size: 35px;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: "garamond", serif;
		font-style: italic;
		text-shadow: 2px 2px #ff0000
	}

.wrapper3{
		width: 500px;
		height: 320px;
		background-color: ivory;
		margin: 0 auto;
	}

#text{font-size: 18px;
		margin: 10px;
		color: black;
		font-family: 'garamond', serif;
		text-indent: 5%;
	}

#modaltext {font-size: 30px;
			text-align: center;
			margin: 5px;
			font-family: 'garamond'serif;
	}

#submit {width: 80px;
		height: 20px;
	}

#thanks {display: none;
		font-size: 25px;
		font-family: 'garamond', serif;
		text-align: center;
	}


.endtext {color: white;
		text-align: center;
		position: relative;
		top: 10px;
}


@media all and (max-width: 992px) {
.navbar {
    background-color: slategrey;
    overflow: hidden;
 }

 .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

 }

 .navbar a:hover {
    background-color: lightgrey;
    color: black;
 }


#modal {width: 500px;
		height: 250px;
		border: solid;
		display: none;
		margin: 0 auto;
    	position: fixed;
    	bottom: 40px;
    	left: 200px;
	}
		


#close {width: 20px;
		height: 20px;
		border: solid;
		background-color: grey;
	}


.wrapper {width: 1000px;
		height: 150px;
		border: solid;
		margin: auto;
		position: fixed;
    	background-color: indianred;
	}

#header {font-family: "garamond", serif;
		font-size: 45px;
		margin: 0px auto;
		text-align: center;
		position: relative;
		bottom: 25px;
		color: white;
	}

.photo {
	background-image: url("coffeeshop.jpg");
	height: 1000px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

.wrapper2{width: 500px;
		height: 50px;
		background-color: indianred;
		margin: 0 auto;
		position: relative;
		top: 615px;
	}

#header2{
		font-size: 35px;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: "garamond", serif;
		font-style: italic;
	}

.wrapper3{
		width: 500px;
		height: 320px;
		background-color: ivory;
		margin: 0 auto;
	}

#text{font-size: 18px;
		margin: 0px auto;
		color: black;
		font-family: 'garamond', serif;
	}

#modaltext {font-size: 30px;
			text-align: center;
			margin: 5px;
			font-family: 'garamond'serif;
	}

#submit {width: 80px;
		height: 20px;
	}

#thanks {display: none;
		font-size: 25px;
		font-family: 'garamond', serif;
		text-align: center;
	}

}



@media all and (min-width: 481px) and (max-width: 768px){
	.navbar {
    background-color: slategrey;
    overflow: hidden;
 }

 .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

 }

 .navbar a:hover {
    background-color: lightgrey;
    color: black;
 }


#modal {width: 250px;
		height: 250px;
		border: solid;
		display: none;
		margin: 0 auto;
    	position: fixed;
    	bottom: 40px;
    	left: 200px;
	}
		


#close {width: 20px;
		height: 20px;
		border: solid;
		background-color: grey;
	}


.wrapper {width: 650px;
		height: 250px;
		border: solid;
		margin: auto;
		position: fixed;
    	background-color: indianred;
	}

#header {font-family: "garamond", serif;
		font-size: 45px;
		margin: 0px auto;
		text-align: center;
		position: relative;
		bottom: 25px;
		color: white;
	}

.photo {
	background-image: url("coffeeshop.jpg");
	height: 1000px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

.wrapper2{width: 500px;
		height: 50px;
		background-color: indianred;
		margin: 0 auto;
		position: relative;
		top: 615px;
	}

#header2{
		font-size: 35px;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: "garamond", serif;
		font-style: italic;
	}

.wrapper3{
		width: 500px;
		height: 320px;
		background-color: ivory;
		margin: 0 auto;
	}

#text{font-size: 18px;
		margin: 0px auto;
		color: black;
		font-family: 'garamond', serif;
	}

#modaltext {font-size: 25px;
			text-align: center;
			margin: 5px;
			font-family: 'garamond'serif;
	}

#submit {width: 80px;
		height: 20px;
	}

#thanks {display: none;
		font-size: 25px;
		font-family: 'garamond', serif;
		text-align: center;
	}

}

@media all and (max-width: 480px) {
	.navbar {
    background-color: slategrey;
    overflow: hidden;
 }

 .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

 }

 .navbar a:hover {
    background-color: lightgrey;
    color: black;
 }


#modal {width: 250px;
		height: 250px;
		border: solid;
		display: none;
		margin: 0 auto;
		background-color: rosybrown;
    	position: fixed;
    	bottom: 40px;
    	left: 50px;
	}
		

#close {width: 20px;
		height: 20px;
		border: solid;
		background-color: grey;
	}


.wrapper {width: 0px;
		height: 0px;
		margin: auto;
		border-style: solid;
		position: static;
	}

#header {font-family: "garamond", serif;
		font-size: 40px;
		margin: 0px auto;
		text-align: center;
		position: relative;
		bottom: 25px;
		right: 150px;
		color: white;
		text-shadow: 2px 2px #ff0000
	}

.photo {
	background-image: url("coffeeshop.jpg");
	height: 800px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

.wrapper2{width: 250px;
		height: 40px;
		background-color: indianred;
		left: 40px;
		position: relative;
		top: 400px;

		
	}

#header2{
		font-size: 25px;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: "garamond", serif;
		font-style: italic;
	}

.wrapper3{
		width: 350px;
		height: 300px;
		text-align: center;
		background-color: indianred;
		margin-top: 30px;
		position: relative;
		right:90px;
	}
		

#text{font-size: 15px;
		margin: 5px auto;
		color: black;
		font-family: 'garamond', serif;

	}

#modaltext {font-size: 20px;
			text-align: center;
			margin: 5px;
			font-family: 'garamond'serif;
	}

#submit {width: 80px;
		height: 20px;
	}

#thanks {display: none;
		font-size: 25px;
		font-family: 'garamond', serif;
		text-align: center;
	}


}


